.navbar {
  background-color: #D9EDF7;
  border-color: #D9EDF7;

}

.transparent {
	opacity: 0.4;
}

.hidden {
	display:none;
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.error {
  color: #A94442;
}

.navbar-toggle {
  background-color: #D9EDF7;
}

/* Menu displayed on homepage (after login) */
.nav-list { 
  border-bottom: 1px solid #eee;
  margin-left: auto;
  margin-right: auto;
}

.nav-list > li { 
  padding: 20px 8px 15px;
  
}

.nav-list > li > a > img {
    width: 90px;
    height: 90px;
}

.nav-list > li > a:hover { 
  text-decoration: none;
}


.nav-list > li > a > span {
  display: block;
  text-align: center;
  font-weight: bold;
}

.vertical-align {
  margin-top: 50px;
}

.pointer {
  cursor: pointer;
}

/* Responsive iFrame */

.responsive-iframe-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

//dropdown colors
.info {
  background-color: #D9EDF7;
}
.success {
  background-color: #DFF0D8;
}
.warning {
  background-color: #FCF8E3;
}
.danger {
  background-color: #F2DEDE;
}

@media only screen and (max-width: 767px) {

  .nav-list > li > a > img {
    width: 50px;
    height: 50px;
  }

  .nav-list > li > a > span {
    font-size: 0.9em;   
  }

}

@media only screen and (max-width: 567px) {
  
  .nav-list > li > a > img {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
  }

  .nav-list > li > a > span {
    font-size: 0.8em;
    font-weight: normal;
    text-align: left;


  }

}