.navbar {
  background-color: #D4EDF4;
  border-color: #D4EDF4;

}

.well {
  background-color:#FFF;
  border-color: #888;
  border-radius: 8px;
}

.transparent {
	opacity: 0.4;
}

.hidden {
	display:none;
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.error {
  color: #A94442;
}

.navbar-toggle {
  background-color: #D4EDF4;
}

/* Menu displayed on homepage (after login) */
.nav-list { 
  border-bottom: 1px solid #eee;
  margin-left: auto;
  margin-right: auto;
}

.nav-list > li { 
  padding: 20px 8px 15px;
  border-left: 1px solid #eee; 
}

.nav-list > li:first-child {
	border-left: none;
}

.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  text-align: center;
  font-size: 0.8 em;
  font-weight: bold;
}

.vertical-align {
	margin-top: 50px;
}

.pointer {
  cursor: pointer;
}

